@body-background-secondary:      			#a3bed0;
@container-modal-overlay-background:      	#a3bed0;
@editor-background-color: 					#262b2a;
.editable {
	border-bottom: dashed 1px @gray;
}
.button-title {
	color: @white;
	.text-shadow(0 4px 12px rgba(0,0,0,0.2));
}
.pusher {
	position: relative;
	width: 100%;
	
	text-align: center;
}
.text-shadow(@shadow) {
  -webkit-text-shadow: @shadow;
          text-shadow: @shadow;
}
.stretched {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.btn {
	.user-select(none);
}


.placeholder {
}

.background-click-catcher {
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.editor-container {
	@f : inset 0 4px 12px rgba(0,0,0,0.2), inset 0 -4px 12px rgba(0,0,0,0.2);
	.box-shadow(@f);
	
	background-color: @editor-background-color;
	overflow:hidden;
	height: 0;
	.navbar .brand {
		padding-left: 0;
	}
	.top-menu {
		.navbar-inverse, .navbar-inverse .nav > .active > a {
			background-color: inherit;
		}
	}
}
.top-editor {
	width: 100%;
	overflow:hidden;
	.animated();
	
	label, .validationMessage, h1, h2, h3, h4, h5, h6 {
		color: white;
	}
	button, a {
		color: @editor-background-color;
	}
	
	.page-header {
		margin-top: 0;
		h1, h2, h3, h4, h5, h6 { }
	}
	p {
		color: @white;
	}
	
}
.board-title {
	margin-bottom: 0;
}
#show-board-container {
	overflow:hidden;
}
#button-title-editor .row {
	padding-bottom: 200px;
}
.animated {
   	-webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.container-with-modal-overlay {
	position: relative;
	.container-modal-overlay {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		.opacity(50);
		background-color: lighten(@body-background-secondary, 100);
	}
}


#button-list-container {
	.animated;
	 background-color: @body-background-secondary;
	 overflow: hidden;
	 height: 100%;
}

.nav.nav-inverse {
	&.nav-tabs {
		border-bottom: 1px solid #222;
	}
}
.fileinput-button {
	position: relative;
	input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translate(-300px, 0) scale(4);
		font-size: 23px;
		direction: ltr;
		cursor: pointer;
	}
}
#board-background-image-dropzone, #button-background-image-dropzone, #button-sound-dropzone {
	width: 100%;
	height: 150px;
	
	&.progress {
		position: relative;
		.progress-bar-woot {
		  background-color: @progress-bar-danger-bg;
		  .progress-striped & {
		    .striped(@progress-bar-danger-bg);
		  }
		}
		.progress-bar {
			opacity : 0;
		}
	}
	
	.image-holder, .img.img-polaroid.stretched {
		border-radius: @border-radius-base;
	}
	
	.upload-icon, .progress-bar, .image-holder {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.upload-icon {
		text-align: center;
		margin-top: 15px;
		opacity : 1;
		i {
			font-size: 70px;
		}
		h2 {
			font-size: 20px;
			line-height: 20px;
			margin-top: 0;
		}
		h2, i {
			color: @editor-background-color;
		}
	}
	
	&.has-image {
		.upload-icon {
			opacity : 0;
			h2, i {
				.text-shadow(0 0 4px rgba(255, 255, 255, 1));
			}
		}
	}
	&:hover {
		.upload-icon {
			opacity : 1;
		}
	}
	.progress-bar, .upload-icon, .upload-icon i {
		-webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}
	
	.progress-bar.uploading {
		-webkit-transition: all 0.1s ease-out;
	    -moz-transition: all 0.1s ease-out;
	    -ms-transition: all 0.1s ease-out;
	    -o-transition: all 0.1s ease-out;
	    transition: all 0.1s ease-out;
	    opacity: 1;
	}
	
	
	
	&.in {
		.progress-bar {
			opacity : 1;
		}
		.upload-icon {
			opacity : 1;
			i {
				color: white;
				
			}
			h2, i {
				.text-shadow(none);
			}
		} 
		.progress-bar-woot {
		  background-color: @progress-bar-danger-bg;
		  .progress-striped & {
		    .striped(@progress-bar-danger-bg);
		  }
		}
		
		&.active {
			.progress-bar-woot {
			  background-color: @progress-bar-success-bg;
			  .progress-striped & {
			    .striped(@progress-bar-success-bg);
			  }
			}
		}
	}
}

// Webkit
@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 100px 0; }
  to    { background-position: 0 0; }
}

// Firefox
@-moz-keyframes progress-bar-stripes {
  from  { background-position: 100px 0; }
  to    { background-position: 0 0; }
}

// IE9
@-ms-keyframes progress-bar-stripes {
  from  { background-position: 100px 0; }
  to    { background-position: 0 0; }
}

// Opera
@-o-keyframes progress-bar-stripes {
  from  { background-position: 0 0; }
  to    { background-position: 100px 0; }
}

// Spec
@keyframes progress-bar-stripes {
  from  { background-position: 100px 0; }
  to    { background-position: 0 0; }
}


.striped(@color: #555, @angle: 45deg) {
    background-color: @color;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  }
  
.progress-striped .progress-bar {
  #gradient > .striped(@progress-bar-bg);
  .background-size(100px 100px);
}
  
.progress-bar-woot {
	border-radius: @border-radius-base;
  .progress-striped & {
    .striped(@progress-bar-warning-bg);
  }
}

//.progress.active .progress-bar, .progress.in .progress-bar {
.progress-bar.uploading {
  -webkit-animation: progress-bar-stripes 0.5s linear infinite;
     -moz-animation: progress-bar-stripes 0.5s linear infinite;
      -ms-animation: progress-bar-stripes 0.5s linear infinite;
       -o-animation: progress-bar-stripes 0.5s linear infinite;
          animation: progress-bar-stripes 0.5s linear infinite;
}

.thumbnail {
	.transition(all 1s ease-in-out);
}

@w : 250px;
@h : 250px;
@m	: @w / 8;
@holeWidth : @w - 2 * @m + @m/5;
@holeHeight : @h - 2 * @m + @m/5;
@buttonWidth: @w - 2 * @m;
@bigRedBackgroundColor: #252525;
@bigRedBackgroundTopShadowColor: #585858;
@bigRedHoleBackgroundColor: #151515;
@bigRedHoleShadowColor: #5d5d5d;
.big-red-container {
	background-color: @bigRedBackgroundColor;
	width:	@w;
	height:	@h;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:@m;
	margin-top:@m;
	.border-radius(@w/2);
	@b :  inset 0px (@m*.04) 0px @bigRedBackgroundTopShadowColor, 1px 1px 0px #000, (@m*.04) (@m*.04) (@m/10) #000;
	.box-shadow(@b);
	
	.hole {
		background-color:@bigRedHoleBackgroundColor;
		width:@holeWidth;
		height:@holeHeight;
		margin-left:auto;
		margin-right:auto;
		top: @m;
		position:relative;
		.border-radius(@holeWidth / 2);
		.box-shadow(1px 1px 0px @bigRedHoleShadowColor);
		i {
			font-size: 80px;
			position: absolute;
				top: 50px;
				right: 0;
				bottom: 0;
				left: 20px;
				color: rgba(0,0,0, 0.4);
				.text-shadow(0px 3px 0px @bigRedBackgroundTopShadowColor);
		}
		
		.button {
			background-color: #383838;
			@c1 : rgba(255,255,255,0);
			@c2 : rgba(0,0,0, 0);
			@c3 : rgba(0,0,0,1);
			.bg {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width:@w - 2 * @m;
				height:@h - 2 * @m;
				margin-left:auto;
				margin-right:auto;
				overflow:hidden;
				
				background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(1,1,1,0) 2%, rgba(30,30,30,0.9) 66%, rgba(35,35,35,1) 73%, rgba(38,38,38,1) 77%, rgba(28,28,28,1) 87%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(2%,rgba(1,1,1,0)), color-stop(66%,rgba(30,30,30,0.9)), color-stop(73%,rgba(35,35,35,1)), color-stop(77%,rgba(38,38,38,1)), color-stop(87%,rgba(28,28,28,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 2%,rgba(30,30,30,0.9) 66%,rgba(35,35,35,1) 73%,rgba(38,38,38,1) 77%,rgba(28,28,28,1) 87%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 2%,rgba(30,30,30,0.9) 66%,rgba(35,35,35,1) 73%,rgba(38,38,38,1) 77%,rgba(28,28,28,1) 87%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 2%,rgba(30,30,30,0.9) 66%,rgba(35,35,35,1) 73%,rgba(38,38,38,1) 77%,rgba(28,28,28,1) 87%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(1,1,1,0) 2%,rgba(30,30,30,0.9) 66%,rgba(35,35,35,1) 73%,rgba(38,38,38,1) 77%,rgba(28,28,28,1) 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



			}
			width:@w - 2 * @m;
			height:@h - 2 * @m;
			margin-left:auto;
			margin-right:auto;
			overflow:hidden;
			cursor:pointer;
			top:-@m / 40;
			position:relative;
			
			
			.border-radius(@buttonWidth);
			@buttonBoxShadow : inset 0px (@m*.04) 0px #a8a8a8, 0px (@m*.04) 0px #2a2a2a, 0px (@m*.06) 0px #2a2a2a, 0px (@m*.08) 0px #2a2a2a, 0px (@m/10) 0px #2a2a2a, 0px (@m*.12) 0px #2a2a2a, 0px (@m*.14) 0px #2a2a2a, 0px (@m*.16) 0px #2a2a2a, 0px (@m*.18) 0px #2a2a2a, 0px (@m/10) 0px #2a2a2a, (@m/5) (@m/2.5) (@m/5) #000;
			.box-shadow(@buttonBoxShadow);
			
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			transition: all .2s;
			

		}
		.button:active {
			top:@m/10;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: inset 0px (@m*.04) 0px #a8a8a8;
		}
		.button:hover .triangle {
			border-left:(@m * 1.6) solid #45bde9;
		}
		.button:active .triangle {
			border-left:(@m * 1.6) solid #e94545;
		}
		
		.button:hover .lighter-triangle {
			border-left:(@m * 1.6) solid #8bdaf7;
		}

		.button:active .lighter-triangle {
			border-left:(@m * 1.6) solid #f78b8b;
		}
		
		.button:hover .darker-triangle {
			border-left:(@m * 1.6) solid #1d98c5;
		}
		
		.button:active .darker-triangle {
			border-left:(@m * 1.6) solid #c51d1d;
		}
	}
}




.select2-container .select2-container-multi {
	padding: 4px;
}

.select2-container-multi .select2-choices .select2-search-choice {
	margin: 2px;
}


.thumbnail-title, .table-cell {
	.text-overflow();
}

.navbar .nav {
  
	li.warning > a {
   	color: @btn-color;
	.btn-pseudo-states(@btn-background-warning, @btn-border-warning);
  }
  li.warning.dropdown > .dropdown-toggle .caret {
  	border-top-color: @btn-color;
	border-bottom-color: @btn-color;
  }
  
  li.warning.dropdown > a:hover .caret {
    border-top-color: @btn-color;
    border-bottom-color: @btn-color;
  }
  
  li.warning.dropdown.open > .dropdown-toggle,
  li.warning.dropdown.active > .dropdown-toggle,
  li.warning.dropdown.open.active > .dropdown-toggle {
    background-color:@btn-background-warning;
    color: @btn-color;
  }
	li.danger > a {
   	color: @btn-color;
	.btn-pseudo-states(@btn-background-danger, @btn-border-danger);
  }
  li.danger.dropdown > .dropdown-toggle .caret {
  	border-top-color: @btn-color;
	border-bottom-color: @btn-color;
  }
  
  li.danger.dropdown > a:hover .caret {
    border-top-color: @btn-color;
    border-bottom-color: @btn-color;
  }
  
  li.danger.dropdown.open > .dropdown-toggle,
  li.danger.dropdown.active > .dropdown-toggle,
  li.danger.dropdown.open.active > .dropdown-toggle {
    background-color:@btn-background-danger;
    color: @btn-color;
  }
  
  li.success > a {
  	color: @btn-color;
	.btn-pseudo-states(@btn-background-success, @btn-border-success);
  }
}

.pagination-toolbar {
	.btn-toolbar ();
	.btn-group.pagination {
		margin-top: 0;
	}
	
}
body .modal {
    /* new custom width */
    width: 560px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -280px;
}
.modal-body {
    max-height: 800px;
}

.rotate-90 {
	display: inline-block;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.no-transitions {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.faux-description {
	height: 1px;	
	border-bottom: dashed 1px #555555;
}
.image {
	background-color: @white;
	.no-transitions;
}
.image-dropzone {
	.well();
	padding: 4px;
	overflow: auto;
	min-height: 60px;
	margin-bottom:0;
}

.item { 
	height: 250px;
	width: 19%;
	margin: 10px 0.5%;
	.thumbnail {
		position: relative;
		.background {
			background-size: cover;
    		background-repeat: no-repeat;
    		height: 100%;
    		width: 100%;
    		position: absolute;
    		left: 0;
    		right: 0;
    		top: 0;
    		bottom: 0;
    	}
		.footer {
			color: @white;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 40px;
			
			background-color: rgba(51, 31, 8, 0.4);
			.bar {
				margin: 8px;
			}
			.thumbs {
				display: none;
			}
		}
		.caption {
			position: absolute;
			top: 0;
			left: 0;
			right : 0;
			height: 80px;
			#gradient > .vertical(rgba(51, 31, 8, 0.9), rgba(255, 255, 255, 0));
			color: @white;
		}
		.no-transitions();
		height: 100%;
		width: 100%;
	}
	&.expanded {
		height: 520px;
		width: 59%;
		.thumbnail {
			.background {
				width: 66%;
			}
			.footer { 
				height: 100px;
				
			}
			.bar {
				display: none;
			}
			.thumbs {
				display: block;
			}
			height: 520px;
		}
	}
	.no-transitions();
}
