//
// Button groups
// --------------------------------------------------

// Button carets
.btn .caret {
  border-top-color: @btn-color;
}
.dropup .btn .caret {
  border-bottom-color: @btn-color;
}

// Make the div behave like a button
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above
  > .btn {
    float: left;
  }
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  .clear_float();
  .btn-group {
    float: left;
  }
  // Space out series of button groups
  > .btn + .btn,
  > .btn-group + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn-group {
    margin-left: 5px;
  }
}

// Float them, remove border radius, then re-add to first and last elements
.btn-group > .btn {
  position: relative;
  border-radius: 0;
}
.btn-group > .btn + .btn {
  margin-left: 1px;
}

// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group > .btn:first-child {
  margin-left: 0;
  border-top-left-radius: @border-radius-base;
  border-bottom-left-radius: @border-radius-base;
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
}
// Reset corners for large buttons
.btn-group > .btn.large:first-child {
  margin-left: 0;
  border-top-left-radius: @border-radius-large;
  border-bottom-left-radius: @border-radius-large;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  border-top-right-radius: @border-radius-large;
  border-bottom-right-radius: @border-radius-large;
}

// On active and open, don't show outline
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}



// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
}
.btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

// The clickable button for toggling the menu
// Remove the gradient and set the same inset shadow as the :active state
.btn-group.open .dropdown-toggle {
  .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
}


// Reposition the caret
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
// Carets in other button sizes
.btn-large .caret {
  border-width: 5px;
}
// Upside down carets for .dropup
.dropup .btn-large .caret {
  border-bottom-width: 5px;
}


// Vertical button groups
// ----------------------

.btn-group-vertical {
}
.btn-group-vertical > .btn {
  display: block;
  float: none;
  border-radius: 0;
  max-width: 100%;
}
.btn-group-vertical > .btn + .btn {
  margin-left: 0;
  margin-top: 1px;
}
.btn-group-vertical .btn:first-child {
  border-radius: @border-radius-base @border-radius-base 0 0;
}
.btn-group-vertical .btn:last-child {
  border-radius: 0 0 @border-radius-base @border-radius-base;
}
.btn-group-vertical .btn-large:first-child {
  border-radius: @border-radius-large @border-radius-large 0 0;
}
.btn-group-vertical .btn-large:last-child {
  border-radius: 0 0 @border-radius-large @border-radius-large;
}
