//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core styles
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0; // For input.btn
  font-size: @font-size-base;
  font-weight: 500;
  line-height: @line-height-base;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid @btn-border;
  border-radius: @border-radius-base;

  &:focus {
    .tab-focus();
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    .opacity(65);
    .box-shadow(none);
  }

}


// Button Sizes
// -------------------------

// Large
.btn-large {
  padding: @padding-large;
  font-size: @font-size-large;
  border-radius: @border-radius-large;
}

// Small
.btn-small {
  padding: @padding-small;
  font-size: @font-size-small;
  border-radius: @border-radius-small;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: @padding-mini;
  font-size: @font-size-mini;
  border-radius: @border-radius-small;
}


// Icons in buttons
// -------------------------

.btn [class^="glyphicon-"]::before       { vertical-align: -2px; }
.btn-small [class^="glyphicon-"]::before,
.btn-mini [class^="glyphicon-"]::before  { vertical-align: -1px; }


// Block button
// -------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  .box-sizing(border-box);
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


// Alternate buttons
// --------------------------------------------------

.btn {
  color: @btn-color;
  .btn-pseudo-states(@btn-background, @btn-border);
}
.btn-primary {
  .btn-pseudo-states(@btn-background-primary, @btn-border-primary);
}
// Warning appears as orange
.btn-warning {
  .btn-pseudo-states(@btn-background-warning, @btn-border-warning);
}
// Danger and error appear as red
.btn-danger {
  .btn-pseudo-states(@btn-background-danger, @btn-border-danger);
}
// Success appears as green
.btn-success {
  .btn-pseudo-states(@btn-background-success, @btn-border-success);
}
// Info appears as blue-green
.btn-info {
  .btn-pseudo-states(@btn-background-info, @btn-border-info);
}
.btn-white {
  .btn-pseudo-states(@btn-background-white, @btn-border-white);
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  background-image: none;
  .box-shadow(none);
}
.btn-link,
.btn-link:hover,
.btn-link:active {
  border-color: transparent;
}
.btn-link {
  color: @link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link:hover {
  color: @link-color-hover;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link {
  &[disabled],
  fieldset[disabled] & {
    &:hover {
      color: @grayDark;
      text-decoration: none;
    }
  }
}
