@activeColor: #1ABC9C;

@keyframes rotate{
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loading{
  0%   { max-height: 0; }
  50%  { max-height: 100%; top: 0; background: darken(@activeColor, 10%); }
  100% { max-height: 0; top: 100%; }
}

.loading{
  display: block;
  width: 50px;
  height: 50px;
  background: #ccc;
  position: relative;
  
  &.rotate{
    animation: rotate 3s normal infinite;
  }
  
  &.round{
   border-radius: 25px;
   overflow: hidden;
  }
 
  &:before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: @activeColor;
    max-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading 3s normal infinite;
  }
}

.loading{
  margin: 20px;
  float: left;
}