<div class="bs-docs-jumbotron masthead">
  <div class="container">
    <h1>Bootstrap</h1>
    <p class="lead">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
    <p>
      <a href="assets/bootstrap.zip" class="btn btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.0']);"{{/production}}>Download Bootstrap</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/twitter/bootstrap" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);"{{/production}}>GitHub project</a>
      </li>
      <li>
        <a href="./getting-started.html#examples" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);"{{/production}}>Examples</a>
      </li>
      <li>Version 3.0.0</li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>Introducing Bootstrap.</h1>
    <p class="marketing-byline">Need reasons to love Bootstrap? Look no further.</p>

    <div class="row">
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-twitter-github.png">
        <h2>By nerds, for nerds.</h2>
        <p>Built at Twitter by <a href="http://twitter.com/mdo">@mdo</a> and <a href="http://twitter.com/fat">@fat</a>, Bootstrap utilizes <a href="http://lesscss.org">LESS CSS</a>, is compiled via <a href="http://nodejs.org">Node</a>, and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-responsive-illustrations.png">
        <h2>Made for everyone.</h2>
        <p>Bootstrap 3 has been rebuilt from the ground up to push the Web forward. It looks and behaves great on the latest smartphones, tablets, and desktops (including support for IE8+).</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-bootstrap-features.png">
        <h2>Packed with features.</h2>
        <p>A 12-column responsive <a href="./scaffolding.html#gridSystem">grid</a>, dozens of components, <a href="./javascript.html">JavaScript plugins</a>, typography, form controls, and even a <a href="./customize.html">web-based Customizer</a> to make Bootstrap your own.</p>
      </div>
    </div>

    <h1>Built with Bootstrap.</h1>
    <p class="marketing-byline">For more sites built with Bootstrap, <a href="./gallery.html">visit the gallery</a> or <a href="./getting-started.html#examples">browse the examples</a>.</p>
    <div class="row example-sites">
      <div class="span3">
        <a class="thumbnail" href="http://soundready.fm/" target="_blank">
          <img src="assets/img/example-sites/soundready.png" alt="SoundReady.fm">
        </a>
      </div>
      <div class="span3">
        <a class="thumbnail" href="http://kippt.com/" target="_blank">
          <img src="assets/img/example-sites/kippt.png" alt="Kippt">
        </a>
      </div>
      <div class="span3">
        <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank">
          <img src="assets/img/example-sites/gathercontent.png" alt="Gather Content">
        </a>
      </div>
      <div class="span3">
        <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
          <img src="assets/img/example-sites/jshint.png" alt="JS Hint">
        </a>
      </div>
    </div>

  </div>{{! /.marketing }}

</div>{{! /.container }}
